@use '@openedx/frontend-base/shell/app.scss' as shell;
@use '@openedx/frontend-app-authn/app.scss' as authn;
@use '@openedx/frontend-app-learner-dashboard/app.scss' as learnerDashboard;
@use '@openedx/frontend-app-instruct/app.scss' as instruct;
